<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h2>Welcome to Gettin' Out</h2>

  <h3>
    This is an app helping people Get Out of The House.
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>