<div class="center hero-unit-event">

	<% @creator = current_user %>
		<div class="minithumb"><%= image_tag @creator.image_url(:minithumb).to_s, :class => 'img-rounded' %>
	  <p class="minithumbtext"><%= @creator.username %></p></div>
	  <p id="wantsto" class="hidden">would like<br/> to go to</p>

	<div id="activitylist" class="clearfloats"></div>
		<h4 class="activityquestion">What would you like to do? <span class="smaller">Click an activity to choose.</span></h4>
		<% @activities = Activity.all %>
		<% @activities.each do |activity| %>
	 	 <div class="minithumb activity"><%= image_tag activity.image_url(:minithumb).to_s, :class => 'img-rounded' %>
	 	 <p class="minithumbtext"><%= activity.title %></p></div>
		<% end %>
	<div id="activitydate" class="hidden">
		<h4 class="activitydatequestion">When would you like to go? <span class="smaller">Click a day on the calendar.</span></h4>
		<div id="activitycalendar" class="clearfloats jquery-ui-date"></div>
	</div>
</div>