html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  background-color: #c4e3fc;
  font-family: 'AmaranthRegular', Arial, sans-serif;
  font-size: 110%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* colors */
$grayLight : #777;
$grayLighter : #9e9e9e;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

tr.record {
  height:90px;
}
td {
  padding: 0 10px;
}

/* big wrapper for important items, the generic version */
.hero-unit-scaffold {
  padding: 15px 20px;
  margin: 10px 0;
  background-color: #72bffa;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 7px rgba(50, 50, 50, .3);
      -moz-box-shadow: 0px 0px 10px 7px rgba(50, 50, 50, .3);
          box-shadow: 0px 0px 10px 7px rgba(50, 50, 50, .3);
  border: solid 6px white;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'AmaranthBold', Arial, sans-serif;
  color: #0568c4;
  font-weight: normal;
  margin: 0 0 8px 0;
  text-align: left;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
.smaller {
  font-size: 70%;
  font-family: 'AmaranthRegular', Arial, sans-serif;
  color: black;
  font-weight: normal;
}

/* tables for editing models */

.indexthumb {
  width:200px;
}
.indexfield {
  width:320px;
}
.indexaction {
  width:50px;
}
.action {
  font-family: 'AmaranthRegular', Arial, sans-serif;
  font-size: 14px;
  color: white !important;
  font-weight: normal;
}
.actions {
  margin-top:15px;
}

/* event creating */

.hero-unit-event {
  height:380px;
  position: relative;
  padding: 25px 10px;
  margin-bottom: 10px;
  background-color: #72bffa;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 7px rgba(50, 50, 50, .3);
      -moz-box-shadow: 0px 0px 10px 7px rgba(50, 50, 50, .3);
          box-shadow: 0px 0px 10px 7px rgba(50, 50, 50, .3);
  border: solid 6px white;
}
.minithumb {
  float: left;
  margin: 0 0 10px 0;
  border: none;
  width: 95px;
  padding: 5px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
}
.minithumbtext {
  font-family: 'AmaranthRegular', Arial, sans-serif;
  color: #000 !important;
  font-weight: normal !important;
  margin: 3px 0 0 0;
  clear: left;
  font-size:13px !important;
  line-height: 15px !important;
}
.activity {
  position: relative;
}
#activitylist {
  position: relative;
}
.activityquestion, .activitydatequestion {
  text-align: center !important;
  margin-top: 20px;
}
#wantsto, #ondate {
  font-family: 'AmaranthBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #0568c4;
  font-weight: normal;
  margin: 0 0 8px 0;
  text-align: center;
}
#wantsto {
  position: relative;
  top: 35px;
  float: left;
}
#ondate {
  position: relative;
  top: 35px;
  float: left;
  left: 110px;
}
.selectedactivity {
  position: absolute;
  top:26px;
  left:220px;
}
#activitydate {
  position: relative;
}
#activitycalendar {
  margin: 10px 0 0 243px;
}
div.ui-datepicker{
 font-size:12px;
}

.clearfloats {
  clear:both;
}
.img-rounded {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

/* activity creating */



/* visibility */
.showing {
  display: block;
}
.hidden {
  display: none;
}

/* alignment and moving things around */
.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
	}
}

.push-down1 {
	margin-top:25px;
}
.logo {
  margin-top:15px;
}

/* tweaks to bootstrap */
.navbar h3 a {
	color: white !important;
	font-size: 30px !important;
	margin: 0 0 0 20px;
}

.navbar h3 a:hover {
	color: black !important;
	text-decoration: none;
}

.btn-medium {
  margin-top:10px;
  font-size:16px;
  font-family: 'AmaranthRegular', Arial, sans-serif;
  color: #fff !important;
  font-weight: normal !important;
}

.btn-large {
  margin-top:15px;
  font-size:20px;
  font-family: 'AmaranthRegular', Arial, sans-serif;
  color: #fff !important;
  font-weight: normal !important;
}

a {
  text-decoration: none !important;
}
.whitetype {
  color:white;
}
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 724px;
}
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 724px;
}
.navbar .nav {
  position: relative;
  left: 0;
  top: 50px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.hero-unit {
  position: relative;
  padding: 25px 20px;
  margin-bottom: 30px;
  background-color: #72bffa;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  border: solid 6px white;
}

/* footer */

footer {
  margin: 0px auto 20px;
  padding-top: 5px;
  font-family: 'AmaranthRegular', Arial, sans-serif;
  font-weight: normal !important;
  font-size:13px !important;
  line-height: 15px !important;
  /* border-top: 2px solid white; */
  width:724px;
  color: white;
  a {
  	color: white;
  	&:hover { 
  		color: black;
  		text-decoration: none;
		}
	}
	small {
  	float: left;
  	margin-left:20px;
	}
	ul {
  	float: right;
  	list-style: none;
  	margin-right:20px;
  	li {
  		float: left;
  		margin-left: 10px;
		}
	}
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin: -15px 0 20px 0;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}